:host {
  --slds-c-slider-track-color-background: orange;
  --slds-c-slider-thumb-color-foreground: black;
}

.accordion {
    border: 1px solid #aaa;
    margin-bottom: 1em;
    background: #f6f6f6;
  }
  
  .accordion_summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    /* display: revert; */
    font-size: medium;
  }

  .accordion p{
    font-size: 14px;
  }
  
  .accordion[open] {
    padding: 0.5em;
  }
  
  .accordion[open] .accordion_summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 1em;
  }
  
  details > summary {
    list-style-type: '⮞';
}

details[open] > summary {
    list-style-type: '⮟';
}

details {
    border: 1px solid gray;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

